---
---

@import "general/normalize";
@import "general/variables";
@import "bourbon/bourbon";
@import "general/grid-settings";
@import "base/base";
@import "neat/neat";
@import "header.scss";

h2 {
  font-family:$header-font;
  font-size: 300%;
  padding-bottom:0.5em;
}

#overall {
  font-family:$header-font;
  color:$gray;
  background: $general;
  margin-top:2em;
  text-align:center;
}

#what {
  padding: 3em 3em;
  padding-bottom:1em;
}

#why { 
  padding: 2em 3em;
  padding-bottom:4em;
}

#start{
  clear:both;
  margin-bottom: 0;
  padding: 4% 0;
  background:#34495E;

  a {
    color:$general;
    text-decoration:none;
  }
}

p {
  font-size:130%;
}


/**** MEDIA QUERIES ****/
@media (max-width:400px) {
    h1 {
        font-size:250%;
    }
    
    h2 {
        font-size:150%;
    }
    
    p, h3 {
        font-size:100%;
    }
}

@media (min-width:400px) and (max-width:800px) {
    h1 {
        font-size:250%;
    }
    
    h2 {
        font-size:150%;
    }
    
    p, h3 {
        font-size:115%;
    }
}