$primary: 'Open Sans Condensed', 'Palatino', 'Avant Garde', sans-serif;
$second: 'Raleway', 'Palatino', 'Avant Garde', sans-serif;
$heading: 'Roboto Condensed', 'Palatino', 'Avant Garde', sans-serif;

$main-f: #fff;

body {
  color:$main-f;
}

header {
  padding: 10%;
  background: #86E2D5;
  text-align:center;
}

h1 {
  letter-spacing:0.1em;
  text-transform:uppercase;
  font-family:$heading;
  font-size:500%;
}

h2 {
  padding-left:5%;
  font-size:300%;
}

#what {
  float:left;
  width:50%;
  background:#67809F;
}

#why {
  float:right;
  width:50%;
  background:#1BBC9B;
}

#start{
  clear:both;
  padding:1% 0%;
  text-align:center;
  background:#34495E;

  a {
    color:$main-f;
    text-decoration:none;
  }
}

p {
  padding:0 5%;
  font-size:130%;
}