@import url(http://fonts.googleapis.com/css?family=Chivo);
@import url(http://fonts.googleapis.com/css?family=Chivo);
/* line 55, ../_sass/general/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 63, ../_sass/general/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 74, ../_sass/general/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 84, ../_sass/general/_normalize.scss */
[hidden], template {
  display: none;
}

/* line 97, ../_sass/general/_normalize.scss */
html {
  background: white;
  color: black;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 113, ../_sass/general/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 119, ../_sass/general/_normalize.scss */
body {
  margin: 0;
}

/* line 132, ../_sass/general/_normalize.scss */
a {
  background: transparent;
}
/* line 139, ../_sass/general/_normalize.scss */
a:focus {
  outline: thin dotted;
}
/* line 146, ../_sass/general/_normalize.scss */
a:hover, a:active {
  outline: 0;
}

/* line 159, ../_sass/general/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 164, ../_sass/general/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 169, ../_sass/general/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 174, ../_sass/general/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 179, ../_sass/general/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 184, ../_sass/general/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/* line 192, ../_sass/general/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 199, ../_sass/general/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 211, ../_sass/general/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 217, ../_sass/general/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 236, ../_sass/general/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 246, ../_sass/general/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 254, ../_sass/general/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 271, ../_sass/general/_normalize.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 279, ../_sass/general/_normalize.scss */
small {
  font-size: 80%;
}

/* line 287, ../_sass/general/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 294, ../_sass/general/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 298, ../_sass/general/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 350, ../_sass/general/_normalize.scss */
img {
  border: 0;
}

/* line 359, ../_sass/general/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 369, ../_sass/general/_normalize.scss */
figure {
  margin: 0;
}

/* line 386, ../_sass/general/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 397, ../_sass/general/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

/* line 414, ../_sass/general/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

/* line 426, ../_sass/general/_normalize.scss */
button, input {
  line-height: normal;
}

/* line 436, ../_sass/general/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 451, ../_sass/general/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 462, ../_sass/general/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 470, ../_sass/general/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 479, ../_sass/general/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 490, ../_sass/general/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 498, ../_sass/general/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 507, ../_sass/general/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/* line 517, ../_sass/general/_normalize.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* Bitters 0.10.0
 * http://bitters.bourbon.io
 * Copyright 2013–2014 thoughtbot, inc.
 * MIT License */
/* line 1, ../_sass/base/extends/_button.scss */
button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #477dca;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
}
/* line 13, ../_sass/base/extends/_button.scss */
button:hover,
input[type="submit"]:hover {
  background-color: #2c5999;
  color: white;
}
/* line 18, ../_sass/base/extends/_button.scss */
button:disabled,
input[type="submit"]:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/* line 1, ../_sass/base/_typography.scss */
body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

/* line 15, ../_sass/base/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25;
  margin: 0;
  text-rendering: optimizeLegibility;
}

/* line 22, ../_sass/base/_typography.scss */
h1 {
  font-size: 2.25em;
}

/* line 26, ../_sass/base/_typography.scss */
h2 {
  font-size: 2em;
}

/* line 30, ../_sass/base/_typography.scss */
h3 {
  font-size: 1.75em;
}

/* line 34, ../_sass/base/_typography.scss */
h4 {
  font-size: 1.5em;
}

/* line 38, ../_sass/base/_typography.scss */
h5 {
  font-size: 1.25em;
}

/* line 42, ../_sass/base/_typography.scss */
h6 {
  font-size: 1em;
}

/* line 46, ../_sass/base/_typography.scss */
p {
  margin: 0 0 0.75em;
}

/* line 50, ../_sass/base/_typography.scss */
a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477dca;
  text-decoration: none;
}
/* line 55, ../_sass/base/_typography.scss */
a:hover {
  color: #2c5999;
}
/* line 59, ../_sass/base/_typography.scss */
a:active, a:focus {
  color: #2c5999;
  outline: none;
}

/* line 66, ../_sass/base/_typography.scss */
img,
picture {
  margin: 0;
  max-width: 100%;
}

/* line 71, ../_sass/base/_typography.scss */
blockquote {
  border-left: 2px solid #dddddd;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em;
}

/* line 78, ../_sass/base/_typography.scss */
cite {
  color: #737373;
  font-style: italic;
}
/* line 82, ../_sass/base/_typography.scss */
cite:before {
  content: "\2014 \00A0";
}

/* line 1, ../_sass/base/_forms.scss */
fieldset {
  background: #f7f7f7;
  border: 1px solid #dddddd;
  margin: 0 0 0.75em 0;
  padding: 1.5em;
}

/* line 10, ../_sass/base/_forms.scss */
input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
}

/* line 16, ../_sass/base/_forms.scss */
label {
  font-weight: bold;
  margin-bottom: 0.375em;
}
/* line 20, ../_sass/base/_forms.scss */
label.required:after {
  content: "*";
}
/* line 24, ../_sass/base/_forms.scss */
label abbr {
  display: none;
}

/* line 31, ../_sass/base/_forms.scss */
textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #dddddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%;
}
/* line 44, ../_sass/base/_forms.scss */
textarea:hover,
input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
select[multiple=multiple]:hover {
  border-color: #c4c4c4;
}
/* line 48, ../_sass/base/_forms.scss */
textarea:focus,
input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
select[multiple=multiple]:focus {
  border-color: #477dca;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
  outline: none;
}

/* line 55, ../_sass/base/_forms.scss */
textarea {
  resize: vertical;
}

/* line 59, ../_sass/base/_forms.scss */
input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

/* line 64, ../_sass/base/_forms.scss */
input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em;
}

/* line 69, ../_sass/base/_forms.scss */
input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%;
}

/* line 74, ../_sass/base/_forms.scss */
select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto;
}

/* line 1, ../_sass/base/_tables.scss */
table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%;
}

/* line 8, ../_sass/base/_tables.scss */
th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left;
}

/* line 15, ../_sass/base/_tables.scss */
td {
  border-bottom: 1px solid #dddddd;
  padding: 0.75em 0;
}

/* line 22, ../_sass/base/_tables.scss */
tr,
td,
th {
  vertical-align: middle;
}

/* line 2, ../_sass/base/_lists.scss */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 20, ../_sass/base/_lists.scss */
dl {
  margin-bottom: 0.75em;
}
/* line 23, ../_sass/base/_lists.scss */
dl dt {
  font-weight: bold;
  margin-top: 0.75em;
}
/* line 28, ../_sass/base/_lists.scss */
dl dd {
  margin: 0;
}

/* line 2, ../_sass/base/_buttons.scss */
button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

/* line 2, ../_sass/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 55, ../_sass/general/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 63, ../_sass/general/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 74, ../_sass/general/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 84, ../_sass/general/_normalize.scss */
[hidden], template {
  display: none;
}

/* line 97, ../_sass/general/_normalize.scss */
html {
  background: white;
  color: black;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 113, ../_sass/general/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 119, ../_sass/general/_normalize.scss */
body {
  margin: 0;
}

/* line 132, ../_sass/general/_normalize.scss */
a {
  background: transparent;
}
/* line 139, ../_sass/general/_normalize.scss */
a:focus {
  outline: thin dotted;
}
/* line 146, ../_sass/general/_normalize.scss */
a:hover, a:active {
  outline: 0;
}

/* line 159, ../_sass/general/_normalize.scss */
h1 {
  font-size: 2.25em;
  margin: 0.67em 0;
}

/* line 164, ../_sass/general/_normalize.scss */
h2 {
  font-size: 2em;
  margin: 0.83em 0;
}

/* line 169, ../_sass/general/_normalize.scss */
h3 {
  font-size: 1.75em;
  margin: 1em 0;
}

/* line 174, ../_sass/general/_normalize.scss */
h4 {
  font-size: 1.5em;
  margin: 1.33em 0;
}

/* line 179, ../_sass/general/_normalize.scss */
h5 {
  font-size: 1.25em;
  margin: 1.67em 0;
}

/* line 184, ../_sass/general/_normalize.scss */
h6 {
  font-size: 1em;
  margin: 2.33em 0;
}

/* line 192, ../_sass/general/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 199, ../_sass/general/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 211, ../_sass/general/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 217, ../_sass/general/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 236, ../_sass/general/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 246, ../_sass/general/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 254, ../_sass/general/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 271, ../_sass/general/_normalize.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 279, ../_sass/general/_normalize.scss */
small {
  font-size: 80%;
}

/* line 287, ../_sass/general/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 294, ../_sass/general/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 298, ../_sass/general/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 350, ../_sass/general/_normalize.scss */
img {
  border: 0;
}

/* line 359, ../_sass/general/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 369, ../_sass/general/_normalize.scss */
figure {
  margin: 0;
}

/* line 386, ../_sass/general/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 397, ../_sass/general/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

/* line 414, ../_sass/general/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

/* line 426, ../_sass/general/_normalize.scss */
button, input {
  line-height: normal;
}

/* line 436, ../_sass/general/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 451, ../_sass/general/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 462, ../_sass/general/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 470, ../_sass/general/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 479, ../_sass/general/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 490, ../_sass/general/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 498, ../_sass/general/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 507, ../_sass/general/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/* line 517, ../_sass/general/_normalize.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* Bitters 0.10.0
 * http://bitters.bourbon.io
 * Copyright 2013–2014 thoughtbot, inc.
 * MIT License */
/* line 1, ../_sass/base/extends/_button.scss */
button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #477dca;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
}
/* line 13, ../_sass/base/extends/_button.scss */
button:hover,
input[type="submit"]:hover {
  background-color: #2c5999;
  color: white;
}
/* line 18, ../_sass/base/extends/_button.scss */
button:disabled,
input[type="submit"]:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/* line 1, ../_sass/base/_typography.scss */
body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

/* line 15, ../_sass/base/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25;
  margin: 0;
  text-rendering: optimizeLegibility;
}

/* line 22, ../_sass/base/_typography.scss */
h1 {
  font-size: 2.25em;
}

/* line 26, ../_sass/base/_typography.scss */
h2 {
  font-size: 2em;
}

/* line 30, ../_sass/base/_typography.scss */
h3 {
  font-size: 1.75em;
}

/* line 34, ../_sass/base/_typography.scss */
h4 {
  font-size: 1.5em;
}

/* line 38, ../_sass/base/_typography.scss */
h5 {
  font-size: 1.25em;
}

/* line 42, ../_sass/base/_typography.scss */
h6 {
  font-size: 1em;
}

/* line 46, ../_sass/base/_typography.scss */
p {
  margin: 0 0 0.75em;
}

/* line 50, ../_sass/base/_typography.scss */
a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477dca;
  text-decoration: none;
}
/* line 55, ../_sass/base/_typography.scss */
a:hover {
  color: #2c5999;
}
/* line 59, ../_sass/base/_typography.scss */
a:active, a:focus {
  color: #2c5999;
  outline: none;
}

/* line 66, ../_sass/base/_typography.scss */
img,
picture {
  margin: 0;
  max-width: 100%;
}

/* line 71, ../_sass/base/_typography.scss */
blockquote {
  border-left: 2px solid #dddddd;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em;
}

/* line 78, ../_sass/base/_typography.scss */
cite {
  color: #737373;
  font-style: italic;
}
/* line 82, ../_sass/base/_typography.scss */
cite:before {
  content: "\2014 \00A0";
}

/* line 1, ../_sass/base/_forms.scss */
fieldset {
  background: #f7f7f7;
  border: 1px solid #dddddd;
  margin: 0 0 0.75em 0;
  padding: 1.5em;
}

/* line 10, ../_sass/base/_forms.scss */
input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
}

/* line 16, ../_sass/base/_forms.scss */
label {
  font-weight: bold;
  margin-bottom: 0.375em;
}
/* line 20, ../_sass/base/_forms.scss */
label.required:after {
  content: "*";
}
/* line 24, ../_sass/base/_forms.scss */
label abbr {
  display: none;
}

/* line 31, ../_sass/base/_forms.scss */
textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #dddddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%;
}
/* line 44, ../_sass/base/_forms.scss */
textarea:hover,
input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
select[multiple=multiple]:hover {
  border-color: #c4c4c4;
}
/* line 48, ../_sass/base/_forms.scss */
textarea:focus,
input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
select[multiple=multiple]:focus {
  border-color: #477dca;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
  outline: none;
}

/* line 55, ../_sass/base/_forms.scss */
textarea {
  resize: vertical;
}

/* line 59, ../_sass/base/_forms.scss */
input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

/* line 64, ../_sass/base/_forms.scss */
input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em;
}

/* line 69, ../_sass/base/_forms.scss */
input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%;
}

/* line 74, ../_sass/base/_forms.scss */
select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto;
}

/* line 1, ../_sass/base/_tables.scss */
table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%;
}

/* line 8, ../_sass/base/_tables.scss */
th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left;
}

/* line 15, ../_sass/base/_tables.scss */
td {
  border-bottom: 1px solid #dddddd;
  padding: 0.75em 0;
}

/* line 22, ../_sass/base/_tables.scss */
tr,
td,
th {
  vertical-align: middle;
}

/* line 2, ../_sass/base/_lists.scss */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 20, ../_sass/base/_lists.scss */
dl {
  margin-bottom: 0.75em;
}
/* line 23, ../_sass/base/_lists.scss */
dl dt {
  font-weight: bold;
  margin-top: 0.75em;
}
/* line 28, ../_sass/base/_lists.scss */
dl dd {
  margin: 0;
}

/* line 2, ../_sass/base/_buttons.scss */
button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

/* line 2, ../_sass/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, ../_sass/main.scss */
header {
  padding: 10% 2em;
  background: #86e2d5;
  text-align: center;
  color: white;
}

/* line 15, ../_sass/main.scss */
h1 {
  text-transform: uppercase;
  font-family: "Chivo", sans-serif;
  font-size: 400%;
}

/* line 21, ../_sass/main.scss */
h2 {
  font-family: "Chivo", sans-serif;
  font-size: 300%;
  padding-bottom: 0.5em;
}

/* line 27, ../_sass/main.scss */
h3 {
  font-family: "Chivo", sans-serif;
}

/* line 31, ../_sass/main.scss */
#overall {
  font-family: "Chivo", sans-serif;
  color: #8c979a;
  background: white;
  margin-top: 2em;
  text-align: center;
}

/* line 39, ../_sass/main.scss */
#what {
  padding: 3em 3em;
  padding-bottom: 1em;
}

/* line 44, ../_sass/main.scss */
#why {
  padding: 2em 3em;
  padding-bottom: 4em;
}

/* line 49, ../_sass/main.scss */
#start {
  clear: both;
  margin-bottom: 0;
  padding: 4% 0;
  background: #34495E;
}
/* line 55, ../_sass/main.scss */
#start a {
  color: white;
  text-decoration: none;
}

/* line 61, ../_sass/main.scss */
p {
  font-size: 130%;
}

/**** MEDIA QUERIES ****/
@media (max-width: 400px) {
  /* line 68, ../_sass/main.scss */
  h1 {
    font-size: 250%;
  }

  /* line 72, ../_sass/main.scss */
  h2 {
    font-size: 150%;
  }

  /* line 76, ../_sass/main.scss */
  p, h3 {
    font-size: 100%;
  }
}
@media (min-width: 400px) and (max-width: 800px) {
  /* line 82, ../_sass/main.scss */
  h1 {
    font-size: 250%;
  }

  /* line 86, ../_sass/main.scss */
  h2 {
    font-size: 150%;
  }

  /* line 90, ../_sass/main.scss */
  p, h3 {
    font-size: 115%;
  }
}
/* line 9, ../_sass/overview.scss */
header {
  background: #555f61;
}

/** GRID REFILL STYLES **/
/* line 18, ../_sass/overview.scss */
.grid-items {
  margin: 2em;
}
/* line 15, ../_sass/bourbon/addons/_clearfix.scss */
.grid-items:after {
  content: "";
  display: table;
  clear: both;
}
/* line 38, ../_sass/overview.scss */
.grid-items .grid-item {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  height: 14em;
  background: #6b83a6;
  width: 100%;
  overflow: hidden;
  float: left;
  padding: 2em;
  border-top: 0;
  border-bottom: 9px solid white;
  border-left: 4.5px solid white;
  border-right: 4.5px solid white;
  text-align: center;
  cursor: pointer;
}
@media screen and (min-width: 53.75em) {
  /* line 38, ../_sass/overview.scss */
  .grid-items .grid-item {
    width: 33.33333%;
  }
}
/* line 59, ../_sass/overview.scss */
.grid-items .grid-item:nth-child(1) {
  background-color: #f2784b;
  box-shadow: inset 0px 0px 1px 2px #ef541b;
}
/* line 63, ../_sass/overview.scss */
.grid-items .grid-item:nth-child(1):hover {
  background-color: #ef541b;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
/* line 59, ../_sass/overview.scss */
.grid-items .grid-item:nth-child(2) {
  background-color: #3a539b;
  box-shadow: inset 0px 0px 1px 2px #2c3f76;
}
/* line 63, ../_sass/overview.scss */
.grid-items .grid-item:nth-child(2):hover {
  background-color: #2c3f76;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
/* line 59, ../_sass/overview.scss */
.grid-items .grid-item:nth-child(3) {
  background-color: #c0392b;
  box-shadow: inset 0px 0px 1px 2px #962d22;
}
/* line 63, ../_sass/overview.scss */
.grid-items .grid-item:nth-child(3):hover {
  background-color: #962d22;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
/* line 59, ../_sass/overview.scss */
.grid-items .grid-item:nth-child(4) {
  background-color: #81cfe0;
  box-shadow: inset 0px 0px 1px 2px #58bfd6;
}
/* line 63, ../_sass/overview.scss */
.grid-items .grid-item:nth-child(4):hover {
  background-color: #58bfd6;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
/* line 59, ../_sass/overview.scss */
.grid-items .grid-item:nth-child(5) {
  background-color: #be90d4;
  box-shadow: inset 0px 0px 1px 2px #a86bc6;
}
/* line 63, ../_sass/overview.scss */
.grid-items .grid-item:nth-child(5):hover {
  background-color: #a86bc6;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
/* line 59, ../_sass/overview.scss */
.grid-items .grid-item:nth-child(6) {
  background-color: #1bbc9b;
  box-shadow: inset 0px 0px 1px 2px #158f76;
}
/* line 63, ../_sass/overview.scss */
.grid-items .grid-item:nth-child(6):hover {
  background-color: #158f76;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
/* line 59, ../_sass/overview.scss */
.grid-items .grid-item:nth-child(7) {
  background-color: #86e2d5;
  box-shadow: inset 0px 0px 1px 2px #5dd8c7;
}
/* line 63, ../_sass/overview.scss */
.grid-items .grid-item:nth-child(7):hover {
  background-color: #5dd8c7;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
/* line 73, ../_sass/overview.scss */
.grid-items .grid-item h1 {
  color: white;
  font-size: 1.3em;
  margin-top: 2em;
}
/* line 79, ../_sass/overview.scss */
.grid-items .grid-item p {
  margin: auto;
  color: rgba(255, 255, 255, 0.7);
}
@media screen and (min-width: 40em) {
  /* line 79, ../_sass/overview.scss */
  .grid-items .grid-item p {
    max-width: 70%;
  }
}
